.bg-1 {
	background: $primary-color;
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;

}

.bg-2 {
	background: $primary-color;
	background-size: cover;
	background-attachment: fixed;
}

.bg-in {
	background-size: inherit !important;
}