.slider {
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: 10% 0%;
  padding: 20px 0 20px 0;
  position: relative;
  
  .overly {
    @extend .overly;
  }

  .block {
    color: #E3E3E4;
    text-align: center;

    h1 {
      font-weight: 100;
      font-size: 45px;
      line-height: 60px;
      letter-spacing: 10px;
      padding-bottom: 15px;
      text-transform: uppercase;
    }

    p {
      margin-bottom: 30px;
      color: #b9b9b9;
      font-size: 18px;
      line-height: 27px;
      font-weight: 300;
    }
  }
}

.slider-images {
  padding: 0 0 0 0;
  background-color: $primary-color;

  .crop {
    width: 400px;
    height: 400px;
    overflow: hidden;
    margin: 10px;
    position: relative;
    img {
      position: absolute;
      margin: auto; 
      min-height: 100%;
      min-width: 100%;

      /* For the following settings we set 100%, but it can be higher if needed 
      See the answer's update */
      left: -100%;
      right: -100%;
      top: -100%;
      bottom: -100%;
    }
  }
}