<!DOCTYPE html>
<html>
<head>
	{{ partial "head.html" . }}
</head>
<body>

	{{ partial "header.html" . }}

	<div class="post">
	  <!-- Wrapper Start -->
	  <section id="intro" style="border: 1px dotted #ddd;">
	    <div class="container">
	      <div class="row">
	        <div class="col-md-7 col-sm-12">
	          <div class="block">
	            <h1>{{ .Params.title }}</h1>
	            {{ if isset .Params "author" }}
		            <div class="post-info-wrapper">
		              <p class="italic">By <span class="bold">{{ .Params.author }}</span> on <span class="bold">{{ .Date.Format .Site.Params.date_format }}</span></p>
		            </div>
	            {{ end }}
	            {{ if isset .Params "category" }}
	            	<p class="italic">Categoría: <span class="bold">{{ .Params.category }}</span></p>
	            {{ end }}
	          </div>
	        </div><!-- .col-md-7 close -->
	        {{ if isset .Params "img" }}
		        <div class="col-md-5 col-sm-12">
			        <figure>
			          <img src="{{ $.Site.BaseURL }}{{ .Params.img.url }}" alt="Img">
			        </figure>
			      </div>
		      {{ end }}
		      <div class="col-md-12 col-sm-12">
						<hr />
            <p>{{ .Content }}</p>
		      </div>
	      </div>
	      {{ if eq .Section "products" }}
					<a href="{{ $.Site.BaseURL }}contact" class="btn btn-default" type="button">Solicitar presupuesto </a>
					{{ if isset .Params "pdf" }}
			  		<a href="{{ .Params.pdf.link }}" class="btn btn-contact-form" type="button">Ver Documentación <i class="fa ion-document-text"></i></a>
			  	{{ end }}
		  	{{ end }}
	    </div>
	  </section>
	</div>
	<p class="center-text" style="padding: 30px;">
	  <a href="{{ $.Site.BaseURL }}/{{ .Params.section }}">Volver</a>
	</p>

	{{ if and (isset .Site.Params "call") (.Site.Params.call.enable) }}
		{{ partial "call-to-action.html" . }}
	{{ end }}

	{{ partial "footer.html" . }}
</body>
</html>
