{{ partial "global-header.html" .Site.Params.contact }}

<!-- contact form start -->
{{ with .Site.Params.contact }}
<section id="contact-form">
  <div class="container">
    <div class="row">
      <form id="contactform" method="post" action="{{ .form.action }}">
      <div class="col-md-6 col-sm-12">
        <div class="block">
            <div class="form-group">
              <input type="text" class="form-control" required="true" name="name" id="name" placeholder="{{ .form.name }}">
            </div>
            <div class="form-group">
              <input type="email" class="form-control" required="true" name="email" id="email" placeholder="{{ .form.email }}">
            </div>
            <div class="form-group">
              <input type="text" class="form-control" required="true" name="_subject" placeholder="{{ .form.subject }}">
            </div>
          </div>
        </div>
        <div class="col-md-6 col-sm-12">
          <div class="block">
            <div class="form-group-2">
              <input type="hidden" name="_next" value="?sent#formspree" />
              <!--input type="hidden" name="_cc" value="another@email.com" /-->
              <textarea name="message" id="message" class="form-control" required="true" rows="3" placeholder="{{ .form.message }}"></textarea>
            </div>
            <button class="btn btn-default" type="submit">{{ .form.button }}</button>
          </div>
        </div>
      </form>
      <span id="contactformsent">{{ .form.thanks_message }}</span>
    </div>
    <div id="contact-box" class="row">
      <div class="col-md-6 col-sm-12">
        <div class="block">

          <h2>{{ .box.title }}</h2>
          <ul class="address-block">
            <li>
              <i class="fa fa-map-marker"></i>{{ .box.address }}
            </li>
            <li>
              <i class="fa fa-envelope-o"></i>{{ .box.email }}
            </li>
            <li>
              <i class="fa fa-phone"></i>{{ .box.phone }}
            </li>
          </ul>
          <ul class="social-icons">
          {{ range .social }}
            <li>
              <a href="{{ .url }}"><i class="fa {{ .icon }}"></i></a>
            </li>
          {{ end }}
          </ul>
        </div>
      </div>
      <div class="col-md-6 col-sm-12">
        {{ with .gmaps}}
        <div class="block">
          <h2>{{ .title }}</h2>
            <div class="google-map">
              <iframe src="{{ .iframe }}" width="555" height="300" frameborder="0" style="border:0" allowfullscreen></iframe>
            </div>
        </div>
        {{ end }}
      </div>
    </div>
  </div>
</section>
{{ end }}

<script>
$(document).ready(function($) {
  $(function() {
    if (window.location.search == "?sent") {
      $('#contactform').hide();
      $('#contactformsent').show();
    } else {
      $('#contactformsent').hide();
    }
  });
});
</script>
